<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VS Code Clone</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>

  <div id="main">
    <div id="overlay">
      <form id="renameform" action="/rename" method="get">
        <input style="color: #000;" id="rename" type="text" name="rename" >
        <input id="btn-over" type="submit">
      </form>
      </div>
    <div id="left">
      <div id="folder">
        <h1><%=folder%></h1>
        <div id="ficon">
          <i id="fileicon" class="ri-file-fill"></i>
          <i id="foldericon" class="ri-folder-fill"></i>
          <a href="/"><i id="refresh" class="ri-refresh-line"></i></a>
        </div>
      </div>

      <form action="/createfile" id="fileform" style="display: none;">
        <input style="padding-left: 3px; height: 30px; font-size: 15px ; border-radius: 5px; color: #000;" type="text" name="filename" placeholder="file name">
      </form>
      <form action="/createfolder" id="folderform" style="display: none;">
        <input style="padding-left: 3px; height: 30px; font-size: 15px ; border-radius: 5px; color: #000;" type="text" name="foldername" placeholder="folder name">
      </form>
      
      <div id="files">
        <%files.forEach(function(file){ %>
          <div class="file">
            <div id="one" style="display: flex;
            align-items: center; justify-content: center; gap: 10px;">
              <%if(file.isDirectory()){%>
                <i class="ri-folder-fill"></i>
                <%}else{%>
                  <i class="ri-file-fill"></i>
              <%}%>
  
              <%if(file.isDirectory()){ %>
                <a href="/folderopened/<%=file.name%>"><h4><%=file.name%></h4></a>
                <%}else{ %>
                  <a href="/fileopened/<%=file.name%>"><h4><%=file.name%></h4></a>
              <% }  %>
            </div>
            <div id="ficons">
              <%if(file.isDirectory()){%>
                <a href="/delete/folder/<%=file.name%>"><i class="ri-delete-bin-line"></i></a>
              <%}else{ %>
                <a href="/delete/file/<%=file.name%>"><i class="ri-delete-bin-line"></i></a>
              <%}%>
              
              <i data-filename="<%= file.name %>" id="renameicon" class="ri-pencil-line"></i>
            </div>
          </div>
        <% })%>
      </div>
    </div>
    <div id="right">

    </div>
  </div>
  <script src="/javascripts/script.js"></script>
</body>
</html>